/* Fonts */

@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeui.eot');
    src:url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui.woff') format('woff'),
        url('../fonts/segoeui.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeui-italic.eot');
    src:url('../fonts/segoeui-italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui-italic.woff') format('woff'),
        url('../fonts/segoeui-italic.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeui-light.eot');
    src:url('../fonts/segoeui-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui-light.woff') format('woff'),
        url('../fonts/segoeui-light.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeui-semibold.eot');
    src:url('../fonts/segoeui-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui-semibold.woff') format('woff'),
        url('../fonts/segoeui-semibold.ttf') format('truetype');
    font-weight:600;
    font-style:normal;
}
@font-face {
    font-family:'Segoe UI';
    src:url('../fonts/segoeui-bold.eot');
    src:url('../fonts/segoeui-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/segoeui-bold.woff') format('woff'),
        url('../fonts/segoeui-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Circe';
    src:url('../fonts/circe.eot');
    src:url('../fonts/circe.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe.woff') format('woff'),
        url('../fonts/circe.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Circe';
    src:url('../fonts/circe-bold.eot');
    src:url('../fonts/circe-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circe-bold.woff') format('woff'),
        url('../fonts/circe-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/roboto.eot');
    src:url('../fonts/roboto.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto.woff') format('woff'),
        url('../fonts/roboto.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/roboto-bold.eot');
    src:url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-bold.woff') format('woff'),
        url('../fonts/roboto-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Spectral SC';
    src:url('../fonts/spectralsc.eot');
    src:url('../fonts/spectralsc.eot?#iefix') format('embedded-opentype'),
        url('../fonts/spectralsc.woff') format('woff'),
        url('../fonts/spectralsc.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Spectral SC';
    src:url('../fonts/spectralsc-medium.eot');
    src:url('../fonts/spectralsc-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/spectralsc-medium.woff') format('woff'),
        url('../fonts/spectralsc-medium.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'Spectral SC';
    src:url('../fonts/spectralsc-bold.eot');
    src:url('../fonts/spectralsc-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/spectralsc-bold.woff') format('woff'),
        url('../fonts/spectralsc-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
html * {
	max-height:1000000px;
	vertical-align:top;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
html *:before,
html *:after {
	vertical-align:top;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	width:100%;
	height:100%;
	color:#1e1e1e;
	font-size:12px;
	line-height:16px;
    font-family:'Segoe UI', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
	-webkit-tap-highlight-color:transparent;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#1e1e1e;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#1e1e1e;
	font-size:12px;
    font-family:'Segoe UI', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
    font-family:'Segoe UI', sans-serif;
	margin:0;
	border:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder {
	color:#666666;
}
:-moz-placeholder {
	color:#666666;
}
::-moz-placeholder {
	color:#666666;
}
:-ms-input-placeholder {
	color:#666666;
}
.img-cover,
.img-contain {
	display:none !important;
}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading.slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
div.checker,div.radio{position:relative}div.checker,div.checker input,div.checker span,div.radio,div.radio input,div.radio span{width:14px;height:14px;cursor:pointer}div.checker input,div.radio input{filter:alpha(opacity=0);border:none}div.checker span,div.radio input,div.radio span{zoom:1;text-align:center}div.checker span{position:relative;display:-moz-inline-box;display:inline-block;border:1px solid #ffffff}div.checker span.checked:before{content:'✓';position:absolute;left:0;top:-2px;width:100%;font-size:10px;font-weight:bold;line-height:10px)}div.checker input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block;zoom:1}div.radio span{display:-moz-inline-box;display:inline-block;position:realtive;width:22px;height:22px;border:1px solid #a1a1a1;-webkit-border-radius:50%;border-radius:50%;}div.radio span.checked:after{content:'';position:absolute;left:5px;top:5px;width:12px;height:12px;background:#333333;-webkit-border-radius:50%;border-radius:50%;}div.radio input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block}
.modal div.checker span{border-color:#24284f}
.wrapper {
	position:relative;
	min-width:320px;
	min-height:100%;
	margin:0 auto;
}

/* Core */

.header__row {
	position:relative;
	max-width:1300px;
	height:110px;
	padding:0 30px;
	margin:0 auto;
}
.header--logo {
	float:left;
	display:block;
	width:240px;
	height:53px;
	margin:29px 55px 0 0;
	background:url('../img/logo.svg') no-repeat 0 0;
	background-size:100% 100%;
}
.header--slogan {
	float:left;
	display:block;
	max-width:325px;
	color:#292a31;
	font-size:15px;
	line-height:22px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	text-transform:uppercase;
	margin:29px 65px 0 0;
}
.header--phone {
	float:left;
	display:block;
	font-size:24px;
	line-height:32px;
	font-weight:300;
	margin:37px 0 0;
}
.header__social {
	position:absolute;
	right:40px;
	top:24px;
	margin:0;
}
.header__social li {
	float:left;
	margin-left:20px;
}
.header__social a {
	display:block;
	width:51px;
	height:51px;
}
.header__social .vk-icon {
	background:url('../img/vk-icon.png') no-repeat 0 0;
}
.header__social .in-icon {
	background:url('../img/in-icon.png') no-repeat 0 0;
}
.welcome {
	position:relative;
	background:#1e2244;
}
.welcome .bg {
	position:absolute;
	left:0;
	top:0;
	width:50%;
	height:100%;
}
.welcome__row {
	position:relative;
	z-index:1;
	max-width:1300px;
	min-height:720px;
	margin:0 auto;
}
.welcome--stamp {
	position:absolute;
	left:50%;
	top:308px;
	display:block;
	width:204px;
	height:204px;
	margin-left:403px;
	background:url('../img/stamp.png') no-repeat 0 0;
}
.welcome__content {
	position:relative;
	z-index:2;
	width:50%;
	max-width:600px;
	color:#ffffff;
	padding:51px 30px 17px 60px;
	margin-left:50%;
}
.welcome h1 {
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	letter-spacing:-1px;
	padding:0;
	margin:0 0 15px;
}
.welcome p {
	max-width:400px;
	font-size:20px;
	line-height:30px;
	font-weight:300;
	margin:0 0 30px;
}
.form-e {
	max-width:355px;
	text-align:center;
	padding:29px 30px 6px;
	margin:31px 0 20px;
	border:1px solid #ffffff;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.form-e--title {
	display:block;
	height:40px;
	font-size:24px;
	line-height:30px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	padding:0;
	margin:0 0 21px;
}
.form-e__item {
	position:relative;
	max-width:230px;
	margin:0 auto 18px;
	-webkit-border-radius:20px;
	border-radius:20px;
	background-color:rgba(255,255,255,0.95);
	background-repeat:no-repeat;
	-webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.14);
	box-shadow:inset 0 2px 2px rgba(0,0,0,0.14);
}
.form-e__item_user {
	background-image:url('../img/user-icon.png');
	background-position:31px 9px;
}
.form-e__item_phone {
	background-image:url('../img/phone-icon.png');
	background-position:31px 9px;
}
.form-e__item_email {
	background-image:url('../img/email-icon.png');
	background-position:30px 11px;
}
.form-e__item .message {
	display:none;
	position:absolute;
	left:0;
	top:29px;
	width:100%;
	color:#e30e1c;
	text-align:center;
	font-size:14px;
	line-height:18px;
}
.form-e__item_error .message {
	display:block;
}
.form-e__item .message i {
	display:inline-block;
	font-style:normal;
	padding:0 4px;
	background:#ffffff;
}
.form-e__item input {
	width:100%;
	color:#666666;
	font-size:15px;
	padding:9px 19px 11px 68px;
}
.form-e--button {
	min-width:230px;
	color:#ffffff;
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:14px 19px;
	margin:11px 0 18px;
	background:#e30e1c;
	-webkit-border-radius:26px;
	border-radius:26px;
	-webkit-box-shadow:0 8px 9px rgba(0,0,0,0.13);
	box-shadow:0 8px 9px rgba(0,0,0,0.13);
}
.form-e__agreement {
	position:relative;
	max-width:230px;
	font-size:12px;
	line-height:16px;
	text-align:left;
	padding-left:22px;
	margin:0 auto 10px;
}
.form-e__agreement .checker {
	position:absolute;
	left:0;
	top:1px;
}
.form-e__agreement a {
	text-decoration:underline;
}
.welcome .form-e__agreement a {
	color:#ffffff;
}
.form-e__agreement a.agreement-drop:after {
	content:'';
	display:inline-block;
	margin:8px 0 0 5px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #24284f;
}
.form-e__agreement a:hover {
	text-decoration:none;
}
.start {
	padding:73px 0 123px;
	background:#f1f1f1;
}
.start__row {
	max-width:1060px;
	text-align:center;
	padding:0 30px;
	margin:0 auto;
}
.start--title {
	display:block;
	color:#1e2244;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	letter-spacing:-1px;
	margin:0 0 115px;
}
.start__grid {
	max-width:948px;
	font-size:0;
	margin:0 auto;
}
.start__item {
	display:inline-block;
	width:33.33%;
	padding:0 15px;
	margin:0 0 50px;
}
.start--icon {
	display:block;
	width:140px;
	height:140px;
	margin:0 auto 40px;
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-position:0 0;
	border:6px solid #24284f;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.start--icon_1 {
	background-image:url('../img/start-icon-1.png');
}
.start--icon_2 {
	background-image:url('../img/start-icon-2.png');
}
.start--icon_3 {
	background-image:url('../img/start-icon-3.png');
}
.start__item p {
	font-size:20px;
	line-height:28px;
	font-weight:300;
	margin:0;
}
.start__item p strong {
	font-weight:600;
}
.certificate {
	background:#24284f;
}
.certificate__row {
	overflow:hidden;
	position:relative;
	max-width:1300px;
	min-height:658px;
	color:#ffffff;
	text-align:center;
	padding:83px 30px 96px;
	margin:0 auto;
}
.certificate--pic {
	position:absolute;
	right:10px;
	top:237px;
	width:423px;
	height:auto;
	border-radius:10px 10px 0 0;
	-webkit-box-shadow:1px -1px 10px rgba(0,0,0,0.06);
	box-shadow:1px -1px 10px rgba(0,0,0,0.06);
}
.certificate--title {
	display:block;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	margin:0 0 53px;
}
.certificate__content {
	position:relative;
	max-width:1040px;
	text-align:left;
	padding:0 440px 0 0;
	margin:0 auto;
}
.certificate p {
	max-width:590px;
	font-size:20px;
	line-height:28px;
	font-weight:300;
	margin:0 0 28px;
}
.certificate ul {
	max-width:590px;
	padding-left:22px;
	margin:-18px 0 48px;
}
.certificate ul li {
	position:relative;
	font-size:20px;
	line-height:28px;
	font-weight:300;
	padding-left:26px;
	margin:0 0 10px;
}
.certificate ul li:before {
	content:'—';
	position:absolute;
	left:0;
	top:0;
}
.tech__row {
	max-width:1300px;
	padding:69px 30px 21px;
	margin:0 auto;
}
.tech--title {
	display:block;
	color:#1e2244;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	text-align:center;
	letter-spacing:-1px;
	margin:0 0 54px;
}
.tech__content {
	font-size:0;
	padding:0 0 69px;
}
.tech__nav {
	position:relative;
	z-index:1;
	display:inline-block;
	width:324px;
	width:26%;
}
.tech__nav ul {
	width:374px;
	width:calc(100% + 50px);
	margin:0;
}
.tech__nav ul li {
	position:relative;
	font-size:18px;
	line-height:22px;
	padding-left:22px;
	margin:0 0 18px;
}
.tech__nav ul li.is-active {
	font-weight:600;
}
.tech__nav ul li.is-active:before {
	content:'';
	position:absolute;
	left:0;
	top:6px;
	border-top:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:10px solid #1e2244;
}
.tech__nav ul li a {
	color:#9e9e9e;
	border-bottom:1px dotted #9e9e9e;
}
.tech__nav ul li.is-active a {
	color:#1e2244;
	border-bottom-color:transparent;
}
.tech__pic {
	position:relative;
	display:inline-block;
	width:380px;
	width:30.5%;
	margin:22px 0 0;
}
.tech__pic .img {
	overflow:hidden;
	position:relative;
	display:block;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.tech__pic .item {
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.tech__pic .item.is-active {
	opacity:1;
	visibility:visible;
}
.tech__slider {
	position:relative;
	display:inline-block;
	max-width:480px;
	width:43.5%;
	padding-left:30px;
	padding-bottom:50px;
	margin:3px 0 0;
}
.tech__slider .slick-prev,
.tech__slider .slick-next {
	position:absolute;
	bottom:0;
	width:42px;
	height:30px;
	cursor:pointer;
}
.tech__slider .slick-prev {
	left:30px;
	background:url('../img/slick-prev.png') no-repeat 0 0;
}
.tech__slider .slick-next {
	left:107px;
	background:url('../img/slick-next.png') no-repeat 0 0;
}
.tech__slider--title {
	max-width:400px;
	display:block;
	color:#1e2244;
	font-size:28px;
	line-height:30px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	margin:0 0 19px;
}
.tech__slider p {
	color:#1e1e1e;
	font-size:18px;
	line-height:25px;
	font-weight:300;
	margin:0 0 20px;
}
.tech__programm {
	width:1280px;
	width:calc(100% + 40px);
	color:#ffffff;
	padding:61px 50px 44px 10%;
	margin-left:-20px;
	background:#24284f;
}
.tech__programm--title {
	display:block;
	font-size:24px;
	line-height:30px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	padding:0;
	margin:0 0 20px;
}
.tech__programm__row {
	clear:both;
	overflow:hidden;
}
.tech__programm__content {
	float:left;
	width:56.75%;
	max-width:500px;
}
.tech__programm__content ul {
	margin:0 0 28px;
}
.tech__programm__content ul li {
	position:relative;
	font-size:20px;
	line-height:28px;
	font-weight:300;
	padding-left:27px;
	margin:0 0 14px;
}
.tech__programm__content ul li:before {
	content:'';
	position:absolute;
	left:0;
	top:15px;
	width:14px;
	height:2px;
	background:#ffffff;
}
.tech__programm__content .form-e--button {
	min-width:220px;
}
.tech__programm__video {
	float:right;
	width:435px;
}
.tech__programm__video .item {
	display:block;
	margin:0 0 20px;
	border:5px solid #ffffff;
}
.teachers {
	background:#f1f1f1;
}
.teachers__row {
	max-width:1300px;
	padding:58px 30px 50px;
	margin:0 auto;
}
.teachers--title {
	display:block;
	color:#1e2244;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	text-align:center;
	letter-spacing:-1px;
	margin:0 0 35px;
}
.teachers--desc {
	max-width:620px;
	font-size:20px;
	line-height:28px;
	font-weight:300;
	text-align:center;
	margin:0 auto 28px;
}
.teachers__grid {
	font-size:0;
	margin:56px 0 13px;
}
.teachers__item {
	position:relative;
	display:inline-block;
	width:33.33%;
	margin:0 0 30px;
}
.teachers__content {
	position:relative;
	padding:42px 10% 0;
}
.teachers__content:before {
	content:'';
	position:absolute;
	left:12%;
	top:0;
	width:97px;
	height:75px;
	background:url('../img/check-icon.png') no-repeat 0 0;
}
.teachers__item p {
	position:relative;
	z-index:1;
	font-size:20px;
	line-height:28px;
	font-weight:300;
	margin:0 0 0 35px;
}
.teachers__slider {
	position:relative;
	width:1280px;
	width:calc(100% + 40px);
	padding:0 0 28px;
	margin-left:-20px;
	background:#24284f;
}
.teachers__slider .slick-prev,
.teachers__slider .slick-next {
	position:absolute;
	top:50%;
	width:19px;
	height:35px;
	z-index:5;
	cursor:pointer;
	margin-top:-30px;
}
.teachers__slider .slick-prev {
	left:40px;
	background:url('../img/teachers-prev.png') no-repeat 0 0;
}
.teachers__slider .slick-next {
	right:40px;
	background:url('../img/teachers-next.png') no-repeat 0 0;
}
.teachers__slider .slick-dots {
	text-align:center;
	font-size:0;
	margin:0;
}
.teachers__slider .slick-dots li {
	display:inline-block;
}
.teachers__slider .slick-dots button {
	position:relative;
	width:31px;
	height:31px;
	cursor:pointer;
	background:transparent;
}
.teachers__slider .slick-dots button:before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:14px;
	height:14px;
	margin:-7px 0 0 -7px;
	border:2px solid #ffffff;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.teachers__slider .slick-dots .slick-active button:before {
	background:#ffffff;
}
.teachers__slider__item {
	position:relative;
	width:100%;
	clear:both;
	overflow:hidden;
	padding:65px 9.5% 25px 10%;
}
.teachers__slider--photo {
	float:left;
	width:350px;
	margin:0 0 28px;
}
.teachers__slider--pic {
	-webkit-box-shadow:5px 5px 0 #e30e1c;
	box-shadow:5px 5px 0 #e30e1c;
}
.teachers__slider--text {
	float:right;
	width:510px;
	color:#ffffff;
	padding:1px 0 0;
}
.teachers__slider--text h3 {
	font-size:32px;
	line-height:43px;
	font-weight:normal;
    font-family:'Spectral SC', serif;
	padding:0;
	margin:0 0 8px;
}
.teachers__slider--text h3 span {
	color:#e30e1c;
}
.teachers__slider--text p {
	font-size:20px;
	line-height:28px;
	font-weight:600;
	margin:0 0 15px;
}
.teachers__slider--text ul {
	margin:-3px 0 28px;
}
.teachers__slider--text ul li {
	position:relative;
	font-size:20px;
	line-height:28px;
	font-weight:300;
	padding-left:29px;
	margin:0 0 10px;
}
.teachers__slider--text ul li:before {
	content:'—';
	position:absolute;
	left:0;
	top:0;
}
.packages__row {
	max-width:1300px;
	padding:53px 10px 63px 30px;
	margin:0 auto;
}
.packages--title {
	display:block;
	color:#1e2244;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	text-align:center;
	letter-spacing:-1px;
	margin:0 0 48px;
}
.packages__content {
	clear:both;
	overflow:hidden;
}
.packages__lc {
	float:left;
	width:69%;
	padding-right:20px;
}
.packages__grid {
	font-size:0;
	max-width:825px;
}
.packages__item {
	display:inline-block;
	width:33.33%;
	padding:0 10px 10px 0;
}
.item-package {
	position:relative;
	/*max-width:265px;*/
	min-height:395px;
	padding:35px 30px 80px;
	background:#f1f1f1;
}
.item-package h3 {
	font-size:24px;
	line-height:30px;
    font-family:'Spectral SC', serif;
	letter-spacing:-1px;
	padding:0;
	margin:0 0 14px;
}
.item-package h3.personal {
	width:calc(100% + 10px);
	font-size:22px;
	padding:1px 0 0;
}
.item-package h3 span {
	display:block;
	font-size:16px;
	line-height:22px;
	font-family:'Segoe UI', sans-serif;
	font-weight:normal;
	letter-spacing:0;
	margin:-9px 0 -4px;
}
.item-package h5 {
	font-size:28px;
	line-height:32px;
	font-weight:normal;
	padding:0;
	margin:0 0 23px;
}
.item-package h5 span {
	display:block;
	font-size:16px;
	line-height:22px;
}
.item-package p {
	font-size:18px;
	line-height:26px;
	margin:0 0 14px;
}
.item-package h6 {
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	font-style:italic;
	margin:30px 0 14px;
}
.item-package .order {
	position:absolute;
	left:50%;
	bottom:23px;
	min-width:140px;
	color:#ffffff;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:11px 14px;
	background:#e30e1c;
	-webkit-border-radius:21px;
	border-radius:21px;
	-webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.2);
	box-shadow:inset 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.packages__rc {
	float:left;
	width:31%;
	color:#ffffff;
	padding:35px 36px 75px;
	margin:0 0 10px;
	background:#24284f;
}
.packages__rc p {
	font-size:22px;
	line-height:28px;
	margin:0 0 27px;
}
.packages__rc h4 {
	font-size:22px;
	line-height:24px;
    font-family:'Spectral SC', serif;
	padding:0;
	margin:0 0 24px;
}
.packages__rc ul {
	margin:0 0 22px;
}
.packages__rc ul li {
	position:relative;
	font-size:16px;
	line-height:22px;
	font-weight:300;
	padding-left:25px;
	margin:0 0 9px;
}
.packages__rc ul li:before {
	content:'—';
	position:absolute;
	left:0;
	top:0;
}
.mission {
	position:relative;
	background:#24284f;
}
.mission__row {
	max-width:1300px;
	padding:0 30px;
	margin:0 auto;
}
.mission__content {
	width:50%;
	min-height:649px;
	color:#ffffff;
	padding:69px 40px 41px 0;
}
.mission__content > *:first-child {
	margin-top:0;
}
.mission__content h3 {
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	letter-spacing:-1px;
	padding:0;
	margin:44px 0 8px;
}
.mission__content p {
	font-size:20px;
	line-height:28px;
	font-weight:300;
	margin:0 0 28px;
}
.mission .bg {
	position:absolute;
	right:0;
	top:0;
	width:50%;
	height:100%;
}
.partners__row {
	max-width:1300px;
	padding:80px 15px 52px;
	margin:0 auto;
}
.partners--title {
	display:block;
	color:#1e2244;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	text-align:center;
	letter-spacing:-1px;
	margin:0 0 60px;
}
.partners__grid {
	font-size:0;
	text-align:center;
}
.partners__item {
	display:inline-block;
	width:16.66%;
	padding:0 15px;
	margin:0 0 34px;
}
.item-partner {
	position:relative;
	width:130px;
	height:130px;
	margin:0 auto;
}
.item-partner img {
	width:100%;
	height:auto;
}
.fade-bg {
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	-webkit-transition:opacity 0.3s ease;
	transition:opacity 0.3s ease;
	visibility:hidden;
	opacity:0;
}
.fade-bg.is-opened {
	visibility:visible;
	opacity:1;
}
.modal {
	position:absolute;
	left:50%;
	top:0;
	z-index:1010;
	background:#ffffff;
	-webkit-box-shadow:0 3px 6px rgba(0,0,0,0.2);
	box-shadow:0 3px 6px rgba(0,0,0,0.2);
	-webkit-transition:-webkit-transform 0.3s ease, opacity 0.3s ease;
	transition:transform 0.3s ease, opacity 0.3s ease;
	-webkit-transform:translateY(-10px);
	transform:translateY(-10px);
	visibility:hidden;
	opacity:0;
}
.modal.is-opened {
	top:0;
	-webkit-transform:translateY(0);
	transform:translateY(0);
	visibility:visible;
	opacity:1;
}
.modal--close {
	position:absolute;
	right:0;
	top:0;
	z-index:1;
	height:46px;
	width:52px;
	cursor:pointer;
	background:url('../img/modal-close.png') no-repeat 50% 50%;
}
.modal_form {
	width:400px;
	text-align:center;
	padding:0 0 16px;
	margin-left:-200px;
}
.modal_form--title {
	display:block;
	color:#ffffff;
	font-size:28px;
	line-height:36px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	padding:52px 50px 20px;
	margin:0 0 30px;
	background:#24284f;
}
.form-e_modal .form-e__item {
	border:1px solid #2f3358;
}
.form-e_modal .form-e__item input {
	padding:8px 18px 10px 67px;
}
.form-e_modal .form-e__item_user {
	background-position:30px 8px;
}
.form-e_modal .form-e__item_phone {
	background-position:30px 8px;
}
.form-e_modal .form-e__item_email {
	background-position:29px 10px;
}
.form-e_modal .form-e--button {
	margin:12px 0 21px;
}
.form-e_modal p {
	color:#666666;
	font-size:14px;
	line-height:20px;
	margin:0 50px 20px;
}
.form-e_modal .form-e__item_error {
	border:1px solid #e41a28;
}
.modal_programm {
	width:820px;
	margin-left:-410px;
}
.modal_programm__text p:first-child {
	margin-top:0;
}
.modal_programm--title {
	display:block;
	color:#ffffff;
	font-size:28px;
	line-height:36px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	padding:45px 60px 30px;
	background:#24284f;
}
.modal_programm--title span {
	display:block;
	font-size:14px;
	line-height:20px;
	font-weight:600;
	font-family:'Segoe UI', sans-serif;
	text-transform:uppercase;
	margin:0 0 -1px;
}
.modal_programm__content {
	padding:23px 60px 55px;
}
.modal_programm__content h5 {
	font-size:17px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:0 0 15px;
}
.modal_programm__content h5 strong{
	color:#1e2244;
	font-weight:600;
}
.modal_programm__content p {
	font-size:17px;
	line-height:24px;
	font-weight:300;
	margin:17px 0 17px;
}
.modal_programm__text {
	overflow-y:auto;
	padding:15px 20px;
	max-height:400px;
	margin:30px 0 0;
	border:1px solid #24284f;
}
.modal_programm__text p {
	font-size:14px;
	line-height:18px;
	font-weight:normal;
	margin:10px 0 0;
}
.courses {
	background:#f1f1f1;
}
.courses__row {
	max-width:1300px;
	padding:66px 30px 55px;
	margin:0 auto;
}
.courses--title {
	display:block;
	color:#1e2244;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	text-align:center;
	letter-spacing:-1px;
	margin:0 0 67px;
}
.courses__grid {
	width:1260px;
	width:calc(100% + 20px);
	font-size:0;
	margin-left:-10px;
}
.courses__item {
	display:inline-block;
	width:33.33%;
	padding:0 10px;
	margin:0 0 20px;
}
.courses__item_wide {
	width:100%;
}
.item-course {
	position:relative;
	/*max-width:400px;*/
	text-align:center;
	background:#ffffff;
}
.item-course--video {
	position:relative;
	display:block;
	height:220px;
}
.item-course__content {
	position:relative;
	z-index:1;
	min-height:270px;
	padding:27px 25px 82px;
}
.item-course--age {
	position:absolute;
	right:34px;
	top:-31px;
	min-width:60px;
	height:60px;
	color:#161616;
	font-size:20px;
	line-height:24px;
	font-weight:600;
	text-align:center;
	padding:13px 0 0;
	background:#f1f165;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.15);
	box-shadow:0 2px 3px rgba(0,0,0,0.15);
}
.item-course--age i {
	display:block;
	font-size:16px;
	line-height:20px;
	font-style:normal;
	margin:-4px 0 0;
}
.item-course h3 {
	font-size:28px;
	line-height:30px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	letter-spacing:-1px;
	padding:0;
	margin:0 0 18px;
}
.item-course h5 {
	color:#1e2244;
	font-size:14px;
	line-height:20px;
	font-weight:600;
	text-transform:uppercase;
	padding:0;
	margin:0 0 13px;
}
.item-course p {
	font-size:17px;
	line-height:28px;
	margin:0 10px;
}
.item-course p a {
	white-space:nowrap;
	text-decoration:underline;
	margin:0 10px;
}
.item-course p a:hover {
	text-decoration:none;
}
.item-course .order {
	position:absolute;
	left:50%;
	bottom:30px;
	z-index:5;
	min-width:205px;
	color:#ffffff;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
	cursor:pointer;
	padding:11px 14px;
	background:#e30e1c;
	-webkit-border-radius:21px;
	border-radius:21px;
	-webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,0.2);
	box-shadow:inset 0 2px 3px rgba(0,0,0,0.2);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.item-course ul {
	margin:-11px 0 -4px;
}
.item-course ul li {
	position:relative;
	font-size:16px;
	line-height:20px;
	text-align:left;
	padding-left:20px;
	margin:0 0 4px;
}
.item-course ul li:before {
	content:'–';
	position:absolute;
	left:0;
	top:0;
}
.item-course_h {
	padding:0;
	min-height:0;
	clear:both;
	overflow:hidden;
	max-width:none;
}
.item-course_h .item-course--video {
	float:left;
	width:33%;
	width:calc(33% - 10px);
}
.item-course_h  .order {
	left:33.33%;
	left:calc(33.33%);
	margin-left:25px;
	-webkit-transform:translateX(0);
	transform:translateX(0);
}
.item-course_h .item-course__content {
	float:right;
	min-height:0;
	width:66.66%;
	width:calc(66% + 10px);
	text-align:left;
	padding-bottom:82px;
}
.item-course_h p {
	font-size:17px;
	line-height:22px;
	margin:-3px 0 3px;
}
.map {
	position:relative;
	height:540px;
}
#map3 {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.map__address {
	position:absolute;
	left:50%;
	top:36px;
	z-index:20;
	width:610px;
	padding:37px 60px 47px;
	margin-left:-620px;
	background:rgba(255,255,255,0.8);
}
.map__address h4 {
	color:#24284f;
	font-size:40px;
	line-height:46px;
	font-weight:500;
    font-family:'Spectral SC', serif;
	letter-spacing:-1px;
	padding:0;
	margin:0 0 20px;
}
.map__address p {
	font-size:20px;
	line-height:38px;
	margin:0;
}
.map__address p a {
	color:#2060a1;
	text-decoration:underline;
}
.map__address p a:hover {
	text-decoration:none;
}
.footer-clear {
	clear:both;
	overflow:hidden;
	height:130px;
}
.footer {
	position:relative;
	margin:-130px 0 0;
	background:#24284f;
}
.footer__row {
	max-width:1300px;
	height:130px;
	color:#ffffff;
	font-size:16px;
	line-height:22px;
	padding:34px 50px 0;
	margin:0 auto;
}
.footer--copy {
	display:block;
	float:left;
}
.footer--author {
	display:block;
	float:right;
}
.footer--author img {
	margin:-9px 0 15px;
}
.navigator {
	position:fixed;
	right:0;
	top:50%;
	z-index:100;
	padding:12px 0 14px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.navigator .bg {
	position:absolute;
	right:0;
	top:0;
	width:0;
	height:100%;
	opacity:1;
	background:rgba(255,255,255,0.9);
	-webkit-border-radius:10px 0 0 10px;
	border-radius:10px 0 0 10px;
	-webkit-transition:width 0.3s ease-out;
	transition:width 0.3s ease-out;
}
.navigator__row {
	position:relative;
	z-index:1;
}
.navigator ul {
	margin:0;
}
.navigator ul li {
	height:34px;
	font-size:16px;
	line-height:24px;
	white-space:nowrap;
	text-align:right;
	cursor:pointer;
	padding:5px 30px 5px 24px;
}
.navigator ul li i {
	position:relative;
	display:inline-block;
	width:16px;
	height:16px;
	margin:4px 0 4px;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.navigator ul li i:after {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:10px;
	height:10px;
	margin:-5px 0 0 -5px;
	background:#e30e1c;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.navigator ul li span {
	display:inline-block;
	color:#488dce;
	padding-right:24px;
	opacity:0;
	visibility:hidden;
	transform:translateX(10px);
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.navigator ul li span.is-visible {
	opacity:1;
	visibility:visible;
	transform:translateX(0);
}
.navigator ul li.is-active {
	font-weight:600;
}
.navigator ul li.is-active i {
	border:3px solid #e30e1c;
}
.navigator ul li.is-active i:after {
	display:none;
}
.agreement-info {
	display:none;
	padding:10px;
	overflow-y:auto;
	max-height:160px;
	text-align:left;
	margin:0 20px;
	border:1px solid #24284f;
}
.agreement-info p {
	font-size:12px;
	line-height:16px;
	margin:5px 0 0;
}
.agreement-info p:first-child {
	margin-top:0;
}
@media all and (max-width:1320px) {
	.header--logo {
		margin-right:40px;
	}
	.header--slogan {
		font-size:14px;
		line-height:20px;
		margin-right:40px;
		margin-top:31px;
	}
	.header--phone {
		font-size:22px;
		line-height:28px;
	}
	.welcome {
		overflow:hidden;
	}
	.welcome .bg {
		background-position:65% 50% !important;
	}
	.welcome__content {
		padding:51px 30px 17px 40px;
	}
	.header__social {
		top:24px;
	}
	.header__social a {
		width:41px;
		height:41px;
		background-size:41px 41px;
	}
	.header__social li {
		margin-left:15px;
	}
	.welcome--stamp {
		top:358px;
		margin-left:33%;
	}
	.packages__item {
		width:50%;
	}
	.courses__item {
		width:50%;
	}
	.navigator ul li {
		padding-right:20px;
	}
	.map__address {
		left:0;
		width:460px;
		padding:37px 40px 47px;
		margin-left:30px;
	}
	.partners__item {
		width:20%;
	}
	.tech__nav ul {
		width:100%;
	}
	.tech__nav ul li {
		font-size:16px;
		line-height:20px;
	}
	.tech__nav ul li.is-active:before {
		top:5px;
	}
	.tech__programm {
		width:calc(100% + 60px);
		padding:61px 30px 44px 30px;
		margin-left:-30px;
	}
	.tech__programm__video {
		width:380px;
	}
	.teachers__content {
		padding:42px 15px 0;
	}
	.teachers__item p {
		font-size:18px;
		line-height:26px;
	}
	.teachers__slider {
		width:calc(100% + 60px);
		margin-left:-30px;
	}
	.teachers__slider--photo {
		width:34%;
	}
	.teachers__slider--text {
		width:66%;
		padding-left:40px;
	}
	.courses__item_wide {
		width:100%;
	}
	.item-course_h .item-course--video {
		width:calc(50% - 10px);
	}
	.item-course_h .item-course__content {
		width:calc(50% + 10px);
	}
	.item-course_h  .order {
		left:50%;
		margin-left:10px;
	}
}
@media all and (max-width:999px) {
	.header--slogan {
		display:none;
	}
	.courses__item {
		width:100%;
	}
	.welcome .bg {
		width:50%;
		background-position:62% 50% !important;
	}
	.welcome__content {
		max-width:none;
		width:50%;
		margin-left:50%;
		padding:31px 20px 17px 30px;
	}
	.welcome h1 {
		font-size:30px;
		line-height:36px;
	}
	.welcome h1 br {
		display:none;
	}
	.welcome p {
		font-size:16px;
		line-height:24px;
		margin:0 0 24px;
	}
	.form-e {
		padding:29px 20px 6px;
	}
	.welcome--stamp {
		width:150px;
		height:150px;
		top:258px;
		margin-left:31%;
		background-size:150px 150px;
	}
	.start {
		padding:40px 0 20px;
	}
	.start--title {
		font-size:30px;
		line-height:36px;
		margin:0 0 36px;
	}
	.start--icon {
		width:120px;
		height:120px;
		margin:0 auto 30px;
		background-size:108px 108px !important;
	}
	.start__item {
		margin:0 0 30px;
	}
	.start__item p {
		font-size:16px;
		line-height:24px;
	}
	.certificate__row {
		min-height:0;
		text-align:left;
		padding:43px 30px 16px;
	}
	.certificate--title {
		font-size:30px;
		line-height:36px;
		text-align:center;
		margin:0 0 36px;
	}
	.certificate__content {
		padding:0;
	}
	.certificate p {
		max-width:none;
		font-size:16px;
		line-height:24px;
		margin:0 0 24px;
	}
	.certificate ul {
		margin:-10px 0 24px;
	}
	.certificate ul li {
		font-size:16px;
		line-height:24px;
		padding-left:24px;
	}
	.certificate--pic {
		display:none;
		top:auto;
		bottom:0;
		right:30px;
		width:280px;
	}
	.tech__row {
		padding:39px 30px 0;
	}
	.tech--title {
		font-size:30px;
		line-height:36px;
		margin:0 0 30px;
	}
	.tech__nav {
		display:none;
	}
	.tech__pic {
		width:25%;
	}
	.tech__slider {
		max-width:none;
		width:75%;
		padding-bottom:30px;
	}
	.tech__slider p {
		font-size:16px;
		line-height:24px;
	}
	.tech__slider--title {
		max-width:none;
		font-size:24px;
		line-height:28px;
	}
	.tech__slider .slick-prev,
	.tech__slider .slick-next {
		width:30px;
		height:21px;
		background-size:30px 21px;
	}
	.tech__slider .slick-next {
		left:87px;
	}
	.tech__content {
		padding:0 0 50px;
	}
	.tech__programm {
		padding:41px 30px 24px;
	}
	.tech__programm__content ul li {
		font-size:16px;
		line-height:24px;
		padding-left:24px;
		margin:0 0 10px;
	}
	.tech__programm__content {
		float:none;
		width:auto;
		max-width:none;
	}
	.teachers__row {
		padding:30px 30px 30px;
	}
	.teachers--title {
		font-size:30px;
		line-height:36px;
		margin:0 0 25px;
	}
	.teachers--desc {
		max-width:none;
		font-size:16px;
		line-height:24px;
		margin:0 0 24px;
	}
	.teachers__item {
		width:100%;
		margin:0 0 10px;
	}
	.teachers__content {
		padding:0;
	}
	.teachers__content:before {
		display:none;
	}
	.teachers__item p {
		position:relative;
		font-size:16px;
		line-height:24px;
		padding-left:24px;
		margin:0;
	}
	.teachers__item p:before {
		content:'—';
		position:absolute;
		left:0;
		top:0;
	}
	.teachers__grid {
		margin:0 0 20px;
	}
	.teachers__slider__item {
		padding:40px 60px 10px;
	}
	.teachers__slider .slick-prev {
		left:20px;
	}
	.teachers__slider .slick-next {
		right:20px;
	}
	.teachers__slider--text h3 {
		font-size:30px;
		line-height:36px;
	}
	.teachers__slider--text p {
		font-size:16px;
		line-height:24px;
	}
	.teachers__slider--text ul li {
		font-size:16px;
		line-height:24px;
		padding-left:24px;
	}
	.teachers__slider .slick-dots {
		padding:0 15px;
	}
	.tech__programm__video {
		display:none;
	}
	.packages__row {
		padding:30px 30px 33px;
	}
	.packages--title {
		font-size:30px;
		line-height:36px;
		margin:0 0 30px;
	}
	.packages__lc {
		float:none;
		width:auto;
		padding-right:0;
	}
	.packages__grid {
		width:calc(100% + 10px);
		max-width:none;
	}
	.packages__rc {
		float:none;
		width:auto;
		padding:30px 30px 20px;
	}
	.item-package {
		min-height:320px;
	}
	.mission__content {
		min-height:0;
		padding:39px 30px 21px 0;
	}
	.mission__content h3 {
		font-size:30px;
		line-height:36px;
		margin:30px 0 10px;
	}
	.mission__content p {
		font-size:16px;
		line-height:24px;
		margin:0 0 24px;
	}
	.courses__row {
		padding:30px 30px 25px;
	}
	.courses--title {
		font-size:30px;
		line-height:36px;
		margin:0 0 40px;
	}
	.item-course {
		max-width:400px;
		margin:0 auto;
	}
	.item-course_h  .order {
		left:0;
		margin-left:25px;
	}
	.item-course__content {
		min-height:0;
		padding-bottom:100px;
	}
	.item-course_h .item-course__content {
		padding-bottom:100px;
	}
	.partners__row {
		padding:40px 15px 30px;
	}
	.partners--title {
		font-size:30px;
		line-height:36px;
		margin:0 0 30px;
	}
	.map {
		height:auto;
	}
	.map__address {
		position:static;
		width:100%;
		padding:30px 30px 40px;
		margin:0;
		background:#f1f1f1;
	}
	.map__address h4 {
		font-size:30px;
		line-height:36px;
		margin:0 0 10px;
	}
	.map__address p {
		font-size:16px;
		line-height:28px;
	}
	#map3 {
		position:static;
		height:380px;
	}
	.footer-clear {
		display:none;
	}
	.footer {
		margin:0;
	}
	.footer__row {
		height:auto;
		padding:25px 30px;
	}
	.footer--copy {
		float:none;
		margin:0 0 15px;
	}
	.footer--author {
		float:none;
	}
	.item-course_h .item-course--video {
		float:none;
		width:100%;
	}
	.item-course_h .item-course__content {
		float:none;
		width:100%;
	}
	.footer--author img {
		width:100px;
		height:auto;
		margin:-1px 0 0 5px;
	}
	.partners__item {
		width:33.33%;
	}
	.modal_programm {
		left:30px;
		width:calc(100% - 60px);
		margin-left:0;
	}
	.navigator {
		display:none;
	}
	.modal_programm--title {
		font-size:24px;
		line-height:28px;
		padding:25px 40px 20px 20px;
	}
	.modal_programm__content {
		padding:18px 20px 15px;
	}
	.modal_programm__content h5 {
		font-size:15px;
		line-height:22px;
		margin:0 0 13px;
	}
	.modal_programm__content p {
		font-size:15px;
		line-height:22px;
		margin:15px 0;
	}
	.modal_programm__text {
		padding:10px 15px;
		max-height:294px;
		margin:0;
	}
	.modal_programm__text p {
		font-size:12px;
		line-height:16px;
		margin:10px 0 0;
	}
	.modal_programm__text p:first-child {
		margin-top:0;
	}
	.modal_form--title {
		font-size:24px;
		line-height:28px;
		padding:45px 20px 20px;
	}
	.modal_form p {
		margin:0 20px 10px;
	}
	.form-e_modal .form-e--button {
		margin-top:0;
	}
	.agreement-info {
		margin:0 20px 20px;
	}
	.modal_form p {
		margin:5px 0 0;
	}
	.modal_form p:first-child {
		margin-top:0;
	}
}
@media all and (max-width:719px) {
	.header__row {
		height:60px;
		padding:0 20px;
	}
	.header--logo {
		width:140px;
		height:32px;
		margin-top:14px;
		margin-right:20px;
		background-size:140px 32px;
	}
	.header__social {
		display:none;
	}
	.header--phone {
		float:right;
		font-size:14px;
		line-height:20px;
		margin:18px 0 0;
	}
	.welcome__row {
		min-height:0;
	}
	.welcome .bg {
		display:none;
	}
	.welcome__content {
		width:100%;
		padding:30px 20px 20px;
		margin-left:0;
	}
	.welcome--stamp {
		top:50%;
		margin-top:-100px;
		margin-left:10%;
		opacity:0.5;
	}
	.welcome h1 {
		font-size:24px;
		line-height:30px;
	}
	.form-e {
		padding-top:19px;
		margin:21px 0 20px;
	}
	.form-e--title {
		font-size:20px;
		line-height:26px;
		margin:0 0 10px;
	}
	.modal_form {
		left:20px;
		width:calc(100% - 40px);
		margin-left:0;
	}
	.start {
		padding:30px 0 20px;
	}
	.start__row {
		padding:0 20px;
	}
	.start--icon {
		margin:0 auto 15px;
	}
	.start--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 30px;
	}
	.certificate--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 30px;
	}
	.certificate__row {
		padding:30px 20px 10px;
	}
	.certificate ul {
		padding-left:10px;
	}
	.tech__row {
		padding:30px 20px 0;
	}
	.tech--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 30px;
	}
	.tech__pic {
		display:none;
	}
	.tech__slider {
		width:100%;
		padding-left:0;
	}
	.teachers__slider--photo {
		float:none;
		width:200px;
	}
	.teachers__slider--text {
		float:none;
		width:100%;
		padding-left:0;
	}
	.tech__slider--title {
		font-size:22px;
		line-height:26px;
		margin:0 0 14px;
	}
	.tech__slider .slick-prev {
		left:0;
	}
	.tech__slider .slick-next {
		margin-left:-30px;
	}
	.tech__programm {
		padding:30px 20px 20px;
		width:calc(100% + 40px);
		margin-left:-20px;
	}
	.tech__programm--title {
		font-size:22px;
		line-height:28px;
		margin:0 0 16px;
	}
	.packages__item {
		width:100%;
	}
	.teachers--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 30px;
	}
	.teachers__row {
		padding:30px 20px 0;
	}
	.teachers__slider .slick-prev,
	.teachers__slider .slick-next {
		width:15px;
		height:28px;
		background-size:15px 28px;
	}
	.mission .bg {
		display:none;
	}
	.mission__content {
		width:100%;
		padding-right:0;
	}
	.packages--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 30px;
	}
	.packages__row {
		padding:30px 20px 20px;
	}
	.item-package {
		min-height:0;
		padding:25px 20px 80px;
	}
	.item-package h3 {
		font-size:20px;
		line-height:26px;
		margin:0 0 10px;
	}
	.item-package h3 span {
		font-size:14px;
		line-height:20px;
		margin:-4px 0 -2px;
	}
	.item-package h5 {
		font-size:24px;
		line-height:30px;
		margin:0 0 20px;
	}
	.item-package p {
		font-size:16px;
		line-height:22px;
		margin:0 0 10px;
	}
	.item-package h6 {
		font-size:14px;
		line-height:20px;
		margin:16px 0 10px;
	}
	.packages__rc {
		padding:25px 20px 10px;
	}
	.packages__rc p {
		font-size:20px;
		line-height:26px;
		margin:0 0 20px;
	}
	.packages__rc h4 {
		margin:0 0 20px;
	}
	.mission__content h3 {
		font-size:24px;
		line-height:30px;
		margin:24px 0 10px;
	}
	.mission__row {
		padding:0 20px;
	}
	.mission__content {
		padding:29px 0 11px;
	}
	.courses--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 30px;
	}
	.courses__row {
		padding:30px 20px 15px;
	}
	.item-course__content {
		padding:22px 20px 102px;
	}
	.item-course h3 {
		font-size:22px;
		line-height:26px;
		margin:0 0 10px;
	}
	.item-course--age {
		right:15px;
		margin-top:-10px;
	}
	.item-course p {
		font-size:15px;
		line-height:25px;
	}
	.item-course ul {
		margin:0 0 10px;
	}
	.item-course p {
		font-size:14px;
		line-height:22px;
	}
	.start__item {
		width:100%;
	}
	.partners__row {
		padding:30px 10px 20px;
	}
	.partners__item {
		width:50%;
		padding:0 10px;
		margin:0 0 20px;
	}
	.partners--title {
		font-size:24px;
		line-height:30px;
		margin:0 0 24px;
	}
	.item-partner {
		width:110px;
		height:110px;
	}
	.map__address {
		padding:25px 20px 25px;
	}
	.map__address h4 {
		font-size:24px;
		line-height:30px;
	}
	.map__address p {
		font-size:15px;
		line-height:24px;
	}
	#map3 {
		height:220px;
	}
	.footer__row {
		font-size:14px;
		line-height:20px;
		padding:20px;
	}
	.footer--author img {
		width:80px;
		margin:0 0 0 5px;
	}
	.teachers__slider {
		width:calc(100% + 40px);
		margin-left:-20px;
	}
	.teachers__slider__item {
		padding:30px 40px 10px;
	}
	.teachers__slider .slick-prev {
		left:10px;
	}
	.teachers__slider .slick-next {
		right:10px;
	}
	.teachers__slider .slick-dots {
		bottom:15px;
	}
}